# Text files
*.svh text eol=crlf
*.sv text eol=crlf
Makefile text eol=crlf
*.mk test eol=crlf
*.c text eol=crtl

# Binary files
*.pdf  binary
*.pdf  binary
*.png  binary
*.doc  binary
*.docx binary
*.vsd  binary
*.vsdx binary
